{:build :dev
 :behind-proxy false
 :proto "http"
 :schema "schema.edn"
 :port 8087
 :host "localhost" ;; adjust hostname
 :couchdb-url (str "http://" (or (System/getenv "DB_PORT_5984_TCP_ADDR") "localhost") ":5984")
 :trusted-hosts #{}
 }
