<html>
   <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
   <body>

     <div class="input-group input-group-lg">
       <input type="text" class="form-control" placeholder="Save URL..." id="url-input">
       <span class="input-group-btn" id="general-input-btn">
         <button class="btn btn-primary btn-lg" id="bookmark-btn">
           <span class="glyphicon glyphicon-bookmark"></span>
         </button>
       </span>
     </div>

     <!-- page header -->
     <div class="page-header">
       <h3 id="bm-header">LESEZEICHEN</h3>
         <form role="form">
           <input id="search-input" class="form-control" type="text" placeholder="Search ..."></input>
         </form>
     </div>
     <!-- page header end -->

   <!-- url list -->
   <ul class="list-group" id="url-list">
     <li class="list-group-item">
       <div class="row">
         <h4>
         <a href="https://topiq.es" target="_blank" class="list-group-item-heading col-md-11 col-xs-11 url-text">TITLE</a>
         </h4>
       </div>
         <!-- <small class="url-user text-info"> THE KING </small> -->
         <small class="url-ts text-muted">
           today
         </small>
     </li>
   </ul>
   <!-- url list end -->



    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
