<html>
   <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
   <body>

     <div class="input-group input-group-lg">
       <input type="text" class="form-control" placeholder="URL">
       <span class="input-group-addon glyphicon glyphicon-bookmark">
       </span>
     </div>

     <!-- page header -->
     <div class="page-header">
       <h3 id="bm-header">Passwords</h3>
     </div>
     <!-- page header end -->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
