<html>
   <body>
     <!-- welcome message and registration -->
     <div class="jumbotron" id="register-message">
       <h2>Welcome to Lesezeichen</h2>
         <input class="form-control col-md-2" type="email" id="sign-up-username" placeholder="Name"></input>
         <input class="form-control" type="email" id="sign-up-email" placeholder="E-Mail"></input>
         <p><a class="btn btn-primary sign-up-btn" href="/" role="button">Sign up</a></p>
     </div>

     <!-- bookmark composer -->
     <div class="input-group input-group-lg" id="bookmark-composer">
         <input type="text" class="form-control" placeholder="Save URL..." id="url-input">
         <span class="input-group-btn" id="general-input-btn">
           <button class="btn btn-primary btn-lg" id="bookmark-btn">
             <span class="glyphicon glyphicon-bookmark"></span>
           </button>
         </span>
       </div>

   </body>
</html>
