{:build :prod
 :behind-proxy true
 :proto "https"
 :version 0.02
 :date "2014-10-16"
 :port 8087
 :schema "schema.edn"
 :cold-start true
 :host "lesezeichen.polyc0l0r.net" ;; adjust hostname
 :trusted-hosts #{}
 }
